body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    text-transform: capitalize;
    flex-direction: column;
}

.heading {
    font-family: fantasy;
    font-size: xxx-large;
}

.username {
    text-align: center;
    border: solid 3px black;
    border-radius: 10px;
    width: 19rem;
    height: 2rem;

}


.chooseGame {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

.imageGame {
    display: grid;
    grid-template-areas:
        "a a"
        "b b"
        "c c";
    gap: 5px;
    justify-content: center;
}

div {
    border: solid 3px black;
}

div:hover {
    border: solid 3px yellow;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #000;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

span {
    gap: 10px;
}




